body {
  margin: 0;
  background: tomato;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.bg-special {
  background: -webkit-radial-gradient(
  50px 220px,
      #ffda75 18%,
      #ff3a49 43%,
      #ff3a49 50%,
      #e518a1 70%,
      #6634e1 100%
  );
}

.button {
  background: #e518a1;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background, transform ease 0.5s;
}

.button:hover {
  background: #ff3a49;
  transform: scale(1.1);
}

.button[disabled],
.button[disabled]:hover {
  background: grey;
  transform: none;
}

.button.circle {
  border-radius: 50%;
  padding: 0.6rem 0.7rem;
}

.button.button-icon {
  background: none;
  padding: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.5s;
}
.slide-down-enter, .slide-down-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(10px);
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.25s;
}
.scale-enter, .scale-leave-to /* .list-leave-active below version 2.1.8 */ {
  transform: scale(0.1);
}
